# **Object Oriented Programming**

# **Method**

In [6]:
nama = "Viktoria Jati Kinasih"
jurusan = "Ilmu Komputer"
semester = 6
angkatan = 2019

def salam():
        print("Hai perkenalkan nama saya ")

def info_mahasiswa(nama, jurusan, semester, angkatan):
  print(f"Nama: {nama}, Jurusan: {jurusan}, Semester: {semester}, Angkatan: {angkatan}") 

info_mahasiswa(nama, jurusan, semester, angkatan)
salam()

Nama: Viktoria Jati Kinasih, Jurusan: Ilmu Komputer, Semester: 6, Angkatan: 2019
Hai perkenalkan nama saya

## **Encapsulation**

In [44]:
class Guru(object):  
    nama_guru = ""
    def __init__(self, input_nama, input_jenjang, input_riwayat_pendidikan_terakhir, input_tempat_mengajar):
        self.nama = input_nama
        self.jenjang = input_jenjang
        self.riwayat_pendidikan_terakhir = input_riwayat_pendidikan_terakhir
        self.tempat_mengajar = input_tempat_mengajar
        Guru.nama_guru = input_nama
        
    def salam(self):
        print("Halo Selamat Pagi Murid-murid, Perkenalkan Nama Bapak", self.nama)

    def info(self):
        print(f"Nama: {self.nama}, Jenjang: {self.jenjang}, Riwayat Pendidikan Terakhir: {self.riwayat_pendidikan_terakhir}, Tempat Mengajar: {self.tempat_mengajar}")

guru1 = Guru("Victorio Jati Gumelar", "SD", "S1", "SDIT Ikhsanul Fikri")

guru1.info()
guru1.salam()

Nama: Victorio Jati Gumelar, Jenjang: SD, Riwayat Pendidikan Terakhir: S1, Tempat Mengajar: SDIT Ikhsanul Fikri
Halo Selamat Pagi Murid-murid, Perkenalkan Nama Bapak Victorio Jati Gumelar

In [45]:
guru1.nama

'Victorio Jati Gumelar'

In [46]:
guru1.nama = "Ersa Setya Dewi"

In [48]:
guru1.nama

'Ersa Setya Dewi'

In [49]:
guru1.jenjang

'SD'

In [50]:
guru1.riwayat_pendidikan_terakhir

'S1'

In [51]:
guru1.tempat_mengajar

'SDIT Ikhsanul Fikri'

In [30]:
mahasiswa1.semester

6

In [52]:
class Siswa(object):  
    nama_siswa = ""
    def __init__(self, input_nama, input_kelas, input_sekolah, input_usia):
        self.nama = input_nama
        self.kelas = input_kelas
        self.sekolah = input_sekolah
        self.usia = input_usia
        Siswa.nama_siswa = input_nama
        
    def salam(self):
        print("Hai perkenalkan nama saya", self.nama)

    def info(self):
        print(f"Nama: {self.nama}, Kelas: {self.kelas}, Sekolah: {self.sekolah}, Usia: {self.usia}")

siswa1 = Siswa("Ina Deana", 7, "SMPN 1 Ngablak", 13)

siswa1.info()
siswa1.salam()

Nama: Ina Deana, Kelas: 7, Sekolah: SMPN 1 Ngablak, Usia: 13
Hai perkenalkan nama saya Ina Deana

In [66]:
siswa1.nama

'Ina Deana'

In [67]:
siswa1.nama = "Kartika Fanya"

In [68]:
siswa1.nama

'Kartika Fanya'

In [70]:
siswa1.kelas

7

In [71]:
siswa1.sekolah

'SMPN 1 Ngablak'

In [72]:
siswa1.usia

13

In [7]:
class Mahasiswa(object):  
    nama_mahasiswa = ""
    def __init__(self, input_nama, input_jurusan, input_semester, input_angkatan):
        self.nama = input_nama
        self.jurusan = input_jurusan
        self.semester = input_semester
        self.angkatan = input_angkatan
        Mahasiswa.nama_mahasiswa = input_nama
        
    def salam(self):
        print("Hai perkenalkan nama saya", self.nama)

    def info(self):
        print(f"Nama: {self.nama}, Jurusan: {self.jurusan}, Semester: {self.semester}, Angkatan: {self.angkatan}")

mahasiswa1 = Mahasiswa("Viktoria Jati Kinasih", "Ilmu Komputer", 6, 2019)

mahasiswa1.info()
mahasiswa1.salam()

Nama: Viktoria Jati Kinasih, Jurusan: Ilmu Komputer, Semester: 6, Angkatan: 2019
Hai perkenalkan nama saya Viktoria Jati Kinasih

In [19]:
mahasiswa1.nama

'Viktoria Jati Kinasih'

In [28]:
mahasiswa1.nama = "Avesina Maulida Muhammad"

In [29]:
mahasiswa1.nama

'Avesina Maulida Muhammad'

In [24]:
mahasiswa1.jurusan

'Ilmu Komputer'

In [30]:
mahasiswa1.semester

6

In [31]:
mahasiswa1.angkatan

2019

### Setter and Getter

In [25]:
class Mahasiswa2(object):  
    nama_mahasiswa = ""
    def __init__(self, nama, jurusan, semester, angkatan):
        self.nama = nama
        self.jurusan = jurusan
        self.semester = semester
        self.angkatan = angkatan
        Mahasiswa.nama_mahasiswa = nama

    def salam(self):
        print("Hai perkenalkan nama saya", self.nama)

    def get_info(self):
        print(f"Nama: {self.nama}, Jurusan: {self.jurusan}, Semester: {self.semester}, Angkatan: {self.angkatan}")
    
    def get_nama(self):
        return self.nama
    
    def get_jurusan(self):
        return self.jurusan

In [23]:
mahasiswa2 = Mahasiswa2('Avesina Maulida Muhammad', 'Matematika', 8, 2018)

In [24]:
mahasiswa2.salam()

Hai perkenalkan nama saya Avesina Maulida Muhammad

In [26]:
mahasiswa2.get_info()

Nama: Avesina Maulida Muhammad, Jurusan: Matematika, Semester: 8, Angkatan: 2018

In [27]:
mahasiswa2.get_nama()

'Avesina Maulida Muhammad'

In [28]:
mahasiswa2.get_jurusan()

'Matematika'

## **Inheritence**

In [34]:
class Manusia(object):
    def __init__(self, nama, alamat, agama, jenis_kelamin):
        self.nama = nama
        self.alamat = alamat
        self.agama = agama
        self.jenis_kelamin = jenis_kelamin

    def info(self):
        print(f"Nama: {self.nama}, Alamat: {self.alamat}, Agama: {self.agama}, Jenis kelamin: {self.jenis_kelamin}")

manusia1 = Manusia("Ersa Setya Dewi","Sowanan", "Islam", "Perempuan")

manusia1.info()

Nama: Ersa Setya Dewi, Alamat: Sowanan, Agama: Islam, Jenis kelamin: Perempuan

In [39]:
class Guru(Manusia):
    def __init__(self,  nama, alamat, agama, jenis_kelamin, NIP):
        super().__init__(nama, alamat, agama, jenis_kelamin)
        self.NIP = NIP

    def info_guru(self):
        super().info()
        print(f"NIP: {self.NIP}")

guru1 = Guru("Victorio Jati Gumelar", "Kopeng", "Islam", "Laki - laki", 123456789)

# guru1.info()
guru1.info_guru()

Nama: Victorio Jati Gumelar, Alamat: Kopeng, Agama: Islam, Jenis kelamin: Laki - laki
NIP: 123456789

In [36]:
class Siswa(Manusia):
    def __init__(self,  nama, alamat, agama, jenis_kelamin, NISN):
        super().__init__(nama, alamat, agama, jenis_kelamin)
        self.NISN = NISN

    def info_siswa(self):
        super().info()
        print(f"NISN: {self.NISN}")

siswa1 = Siswa("Victorio Jati Ramadan", "Ngablak", "Islam", "Laki - laki", 987654321)

# siswa1.info()
siswa1.info_siswa()

Nama: Victorio Jati Ramadan, Alamat: Ngablak, Agama: Islam, Jenis kelamin: Laki - laki
NISN: 987654321

In [40]:
class Mahasiswa(Manusia):
    def __init__(self,  nama, alamat, agama, jenis_kelamin, NIM):
        super().__init__(nama, alamat, agama, jenis_kelamin)
        self.NIM = NIM

    def info_mahasiswa(self):
        super().info()
        print(f"NIM: {self.NIM}")

mahasiswa1 = Mahasiswa("Viktoria Jati Kinasih", "Sowanan", "Islam", "Sowanan", 4611419081)

# mahasiswa1.info()
mahasiswa1.info_mahasiswa()

Nama: Viktoria Jati Kinasih, Alamat: Sowanan, Agama: Islam, Jenis kelamin: Sowanan
NIM: 4611419081

## **Abstraction**

In [56]:
from abc import abstractmethod, ABC

In [65]:
class Absclass(ABC):
    @abstractmethod
    def Pencapaian(self):
        pass

        
class Guru(Absclass):
    def Pencapaian(self):
        print("Saya ingin menjadi guru yang baik bagi para siswa")  
        
class Siswa(Absclass):
    def Pencapaian(self):
        print("Saya ingin lulus sekolah dan melanjutkan ke jenjang yang lebih tinggi")

class Mahasiswa(Absclass):
    def Pencapaian(self):
        print("Saya ingin wisuda dengan predikat Cumlaude") 
        
#object of guru created
guru = Guru()
guru.Pencapaian()

print ("-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-")

#object of siswa created
siswa = Siswa()
siswa.Pencapaian()

print ("-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-")

#object of mahasiswa created
mahasiswa = Mahasiswa()
mahasiswa.Pencapaian()

print ("-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-")
 
print("guru merupakan bagian dari Absclass? ", isinstance(guru, Absclass))
print("siswa merupakan bagian dari Absclass? ", isinstance(siswa, Absclass))
print("mahasiswa merupakan bagian dari Absclass? ", isinstance(mahasiswa, Absclass))

Saya ingin menjadi guru yang baik bagi para siswa
-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-
Saya ingin lulus sekolah dan melanjutkan ke jenjang yang lebih tinggi
-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-
Saya ingin wisuda dengan predikat Cumlaude
-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-
guru merupakan bagian dari Absclass?  True
siswa merupakan bagian dari Absclass?  True
mahasiswa merupakan bagian dari Absclass?  True

## **Polymorphism**

In [85]:
class Manusia(object):
  def __init__(self, nama, alamat, agama, jenis_kelamin):
    self.nama = nama
    self.alamat = alamat
    self.agama = agama
    self.jenis_kelamin = jenis_kelamin

  def salam(self):
      print("Halo semuanya ")

  def info(self):
    print(f"Nama: {self.nama}, Alamat: {self.alamat}, Agama: {self.agama}, Jenis Kelamin: {self.jenis_kelamin}")


class Guru(Manusia):
  def __init__(self, nama, alamat, agama, jenis_kelamin, NIP):
    super().__init__(nama, alamat, agama, jenis_kelamin)
    self.NIP = NIP

  def info_guru(self):
    print(f"NIP: {self.NIP}")

class Siswa(Manusia):
  def __init__(self, nama, alamat, agama, jenis_kelamin, NISN):
    super().__init__(nama, alamat, agama, jenis_kelamin)
    self.NISN = NISN
    
  def info_siswa(self):
    print(f"NISN: {self.NISN}")

class Mahasiswa(Manusia):
  def __init__(self, nama, alamat, agama, jenis_kelamin, NIM):
    super().__init__(nama, alamat, agama, jenis_kelamin)
    self.NIM = NIM
    
  def info_mahasiswa(self):
    print(f"NIM: {self.NIM}")

guru1 = Guru("Ery Luxmayanti", "Semarang", "Islam", "Perempuan", 123123123)

guru1.info()
guru1.info_guru()
guru1.salam()

print ("-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-")

siswa1 = Siswa("Retno Pamulasih", "Magelang", "Islam", "Perempuan", 321321321)

siswa1.info()
siswa1.info_siswa()
siswa1.salam()

print ("-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-")

mahasiswa1 = Mahasiswa("Hanan Turmudzi", "Magelang", "Islam", "Laki - laki", 12233221)

mahasiswa1.info()
mahasiswa1.info_mahasiswa()
mahasiswa1.salam()

Nama: Ery Luxmayanti, Alamat: Semarang, Agama: Islam, Jenis Kelamin: Perempuan
NIP: 123123123
Halo semuanya
-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-
Nama: Retno Pamulasih, Alamat: Magelang, Agama: Islam, Jenis Kelamin: Perempuan
NISN: 321321321
Halo semuanya
-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-
Nama: Hanan Turmudzi, Alamat: Magelang, Agama: Islam, Jenis Kelamin: Laki - laki
NIM: 12233221
Halo semuanya

## **Custom Modules**

In [117]:
import function as fs

In [120]:
guru_Rio = Guru("Victorio Jati Gumelar", "Kopeng", "Islam", "Laki - laki", "123456789")

In [121]:
guru_Rio.info_guru()

NIP: 123456789